@charset "utf-8";

* {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-shadow: none;
   font-size: 62.5%;
   font-family: 'Barlow Condensed', sans-serif;
   box-sizing: border-box;
   vertical-align: baseline;
   transition: 0;
}

body {
   font-family: 'Barlow Condensed', sans-serif;
   background-color: white;
}

.column {
   float: left;
   width: 100%;
}

.container {
   position: relative;
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
}

.container::after, .column::after {
   display: table;
   clear: both;
   content: '';
}

h1, h2, h3, div, p, li, a, input, textarea {
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
           font-smoothing: antialiased;
}

input {
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
}

li, i, a, span, img, .inc, .dec {
   -webkit-user-select: none;
      -moz-user-select: none;
           user-select: none;
}

li, a, span {
   text-decoration: none;
   transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.break {
    width: 100%;
    height: 10rem;
}

.flash.success {
    background-color: #ccffcc;
    color: #008800;
    border: .1rem solid #00bb00;
    padding: 1rem;
    text-align: center;
    font-size: 1.6rem;
}

.flash.error {
    background-color: #ffdddd;
    color: #bb0000;
    border: .1rem solid #bb0000;
    padding: 1rem;
    text-align: center;
    font-size: 1.6rem;
}
