

 #wrapper {
    width: 100%;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 .2rem .6rem #e5e5e5;
    overflow: hidden;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Logo                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#logo {
    float: left;
    width: 12rem;
    height: 7.6rem;
}

#logo img {
    margin-top: 1.8rem;
    width: 12rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Nav                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

nav {
    float: left;
    width: calc(100% - 24rem);
    height: 7.6rem;
}

nav ul {
    list-style: none;
    text-align: center;
    font-size: 0;
}

nav ul li {
    display: inline;
    line-height: 7.6rem;
}

nav ul li a {
    display: inline-block;
    padding: 0 1.2rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #006491;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul li a:hover, nav ul li a.highlight {
    color: #fff;
    background-color: #006491;
}

nav ul li a img.cart{
    width: 35px;
    height: 35px;
    /*margin-top: 15px;*/
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Signin                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#signin {
    float: left;
    width: 12rem;
    height: 7.6rem;
    color: #006491;
    text-align: center;
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

#signin:hover {
    color: #fff;
    background-color: #006491;
}

#signin p {
    line-height: 7.6rem;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
}

#signin p i {
    margin-right: 1rem;
    font-size: 1.7rem;
    text-transform: uppercase;
}

#profile {
    float: left;
    width: 12rem;
    height: 7.6rem;
    color: #006491;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#profile:hover {
    color: #fff;
    background-color: #006491;
}

#profile a {
    display: block;
    line-height: 7.6rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #006491;
    text-transform: uppercase;
}

#profile a:hover {
    color: #fff;
    background-color: #006491;
}

#profile a i {
    margin-right: 1rem;
    font-size: 1.7rem;
    text-transform: uppercase;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Mobile Nav                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mobile-nav {
    float: left;
    width: calc(100% - 12rem);
    height: 7.6rem;
}

#mobile-nav ul {
    list-style: none;
    text-align: right;
}

#mobile-nav ul li {
    display: inline;
    cursor: pointer;
}

#mobile-nav ul li + li {
    margin-left: 2.5rem;
}

#mobile-nav ul li a i.user {
    position: relative;
    top: 2.6rem;
    font-size: 1.9rem;
    font-weight: 600;
    color: #006491;
    letter-spacing: .04rem;
    text-transform: uppercase;
}

#mobile-nav ul li i.user {
    position: relative;
    top: 2.6rem;
    font-size: 1.9rem;
    font-weight: 600;
    color: #006491;
    letter-spacing: .04rem;
    text-transform: uppercase;
}

#mobile-nav ul li i.bars {
    position: relative;
    top: 2.8rem;
    font-size: 2.3rem;
    font-weight: 600;
    color: #006491;
    letter-spacing: .04rem;
    text-transform: uppercase;
}

#mobile-nav ul li a:hover {
    color: #fff;
    background-color: #fff;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Mobile menu                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mobile-menu {
    position: fixed;
    top: 7.6rem;
    right: 5%;
    width: 20rem;
    background-color: #006491;
    border-radius: 0rem;
    cursor: default;
    overflow: hidden;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.06);
}

#mobile-menu.isvisible {
    top: 7.6rem;
    right: 5%;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

#mobile-menu ul {
    list-style: none;
    width: 100%;
    text-align: center;
}

#mobile-menu ul li {
}

#mobile-menu ul li a {
    display: block;
    padding: 1.2rem 2rem;
    font-size: 1.9rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: .04rem;
}

#mobile-menu ul li a:hover {
    background-color: #005177;
}

#mobile-menu, #overlay {
   transition: all .2s ease-in-out;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    width: 100%;
    overflow: hidden;
    background-color: #dbdbdb;
}

#footer-nav {
    float: left;
    width: 50%;
    height: 8rem;
    overflow: hidden;
}

#footer-nav ul {
    margin-top: 3.3rem;
    list-style: none;
    text-align: left;
}

#footer-nav ul li {
    display: inline;
}

#footer-nav ul li + li {
    margin-left: 2rem;
}

#footer-nav ul li a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #4a4a4a;
    text-transform: uppercase;
}

#footer-nav ul li a:hover {
    color: #005074;
}

#footer-social {
    float: left;
    width: 50%;
    height: 8rem;
    overflow: hidden;
}

#footer-social ul {
    position: relative;
    top: 3.1rem;
    list-style: none;
    text-align: right;
}

#footer-social ul li {
    display: inline;
}

#footer-social ul li + li {
    margin-left: 2rem;
}

#footer-social ul li a i {
    font-size: 1.9rem;
    font-weight: 600;
    color: #4a4a4a;
    text-transform: uppercase;
}

#footer-social ul li a i:hover {
    color: #0078ae;
}

#footer-info {
    clear: both;
    width: 100%;
}

#footer-info p, #footer-copyright p {
    line-height: 1.4;
    font-size: 1.5rem;
    font-weight: 600;
    color: #888;
}

#footer-copyright {
    padding-bottom: 4rem;
    margin-top: 2rem;
    width: 100%;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 479px) {

    nav, #signin, #profile {
        display: none;
    }

    #footer-nav, #footer-social {
        float: none;
        width: 100%;
    }

    #footer-nav ul {
        text-align: center;
    }

    #footer-social {
        height: 6rem;
    }

    #footer-social ul {
        top: .8rem;
        text-align: center;
    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {

    nav, #signin, #profile {
        display: none;
    }

    #footer-nav, #footer-social {
        float: none;
        width: 100%;
    }

    #footer-nav ul {
        text-align: center;
    }

    #footer-social {
        height: 6rem;
    }

    #footer-social ul {
        top: .8rem;
        text-align: center;
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {

    nav, #signin, #profile {
        display: none;
    }

    #mobile-nav { display: block; }
}

@media screen and (min-width: 768px) {
    .container { width: 95%; }

    #mobile-nav { display: none; }
    }
}
