
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Imports                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import 'base.css';
@import 'components.css';



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Page heading                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.master-heading {
    width: 100%;
    height: 12rem;
    background-color: transparent;
    text-align: center
}

.master-heading h2 {
    line-height: 12.3rem;
    font-size: 3rem;
    font-weight: 600;
    color: #006491;
    text-transform: uppercase;
    letter-spacing: -.06rem;
}

.master-heading h2 i {
    position: relative;
    bottom: .25rem;
    font-size: 2.4rem;
    color: #006491;
}

.contact h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #0078ae;
    text-transform: uppercase;
}

.fields {
    margin-top: 1.5rem;
    width: 100%;
    padding: 2rem 2rem 2.2rem 2.2rem;
    border: .1rem solid #e0e0e0;
    border-radius: .4rem;
    background-color: #fff;
}

.contact {
    margin: 0 auto;
    width: 60rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form specs                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.field + .field {
    margin-top: 2rem;
}

label {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

label span {
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}

.input-error {
    display: block;
    text-align: right;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #dd4b39;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

input[type="text"],
input[type="email"] {
    margin-top: .6rem;
    width: 100%;
    height: 4.4rem;
    padding: 0 1.2rem;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    background-color: #fff;
    transition: none;
    -webkit-transition: border-color .2s ease-in-out !important;
       -moz-transition: border-color .2s ease-in-out !important;
            transition: border-color .2s ease-in-out !important;
}

textarea {
    margin-top: .6rem;
    width: 100%;
    height: 20rem;
    padding: 1.2rem 1.2rem;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    background-color: #fff;
    transition: none;
    resize: none;
    -webkit-transition: border-color .2s ease-in-out !important;
       -moz-transition: border-color .2s ease-in-out !important;
            transition: border-color .2s ease-in-out !important;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border: .1rem solid #0078ae;
}

#contact-btn {
    margin-top: 3rem;
    width: 18rem;
    height: 4.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #E31837;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

#contact-btn:hover {
    background-color: #aa1229;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Required                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.required-message {
    margin: 0 auto;
    width: 60rem;
}

.required-message p {
    margin-top: 3.7rem;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

.required-message p span {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 479px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .heading, .contact, .required-message {
        width: 100%;
    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .heading, .contact, .required-message {
        width: 100%;
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .heading, .contact, .required-message {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container { width: 95%; }
}
