

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Imports                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import 'base.css';
@import 'components.css';
@charset "UTF-8";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.main-banner {
    margin-top: 0;
    width: 100%;
    height: 44rem;
    background: #fff url(../img/doodle.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.main-banner2 {
    margin-top: 0;
    width: 100%;
    height: 10rem;    
    background: #fff url(../img/doodle.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.main-banner2 h2{
    position: relative;
    top: 2rem;
    font-size: 5rem;
    color: white;
}

.banner{
    position: relative;
    top: 0;
    left: 0;
    height: 30rem;
    text-align: left;
    cursor: default;
}

.hero_img{
    display: inline-block;
    position: relative;
    right: -500px;
}

.sensor{
    width: 500px;
    height: 300px;
}

.banner_text{
    position: relative;
    top: -230px;
}

.main-banner img.certification {
    width: 100px;
    height: 100px;
    float: left;
}

.parameter{  
    float: left;
    margin-left: 8rem;
    padding: 2.2rem 2.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #00CC66;
    border-radius: .4rem;
    letter-spacing: .06rem;
    text-transform: uppercase;  
    width: 200px;
    height: 100px;
}

.main-banner h2 {
    line-height: 1;
    font-size: 6.5rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 .17857em rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: left;
}

.main-banner h2 span {
    margin-left: -.1rem;
    line-height: 1;
    font-size: 7.2rem;
    font-weight: 600;
    color: #fff;
}


.main-banner p {
    margin-left: -.1rem;
    line-height: 1;
    font-size: 2rem;
    
    color: #fff;
}

.more_button{
    display: inline-block;
    margin-top: 2.2rem;
    margin-left: 0rem;
    padding: 1.2rem 5rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #449b3c;
    border-radius: .4rem;
    width: 150px;
    letter-spacing: .06rem;
    text-transform: uppercase;    
}



.more_button:hover {
    background-color: #aa1229;
}

span#domino{
    font-size: 10.4rem;
    color: #fff;
    -webkit-text-fill-color: #006491;
    -webkit-text-stroke-width: 2px;
    -moz-text-fill-color: #006491;
    -moz-text-stroke-width: 2px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Start registration                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.registration {   
    width: 100%;
}

.registration .text {
    margin-top: 4rem;
    text-align: center;
}

.registration .text h3 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #006491;
    letter-spacing: -.02rem;
    text-transform: uppercase;
}

.registration .member { 
    float: left;
    width: 23.75%; 
    margin-top: 3rem;
    margin-left: 1%;
    padding-left: 5%; 
}

.registration .member2,
.registration .member3 {
    padding-top: 4%;
}

.registration .member img{
    width: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Info banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.text-banner {
    float: left;
    margin-top: 6rem;
    width: 100%;
    height: 100%;
    border-top: .2rem solid #e5e5e5;
    border-bottom: .2rem solid #e5e5e5;
    background-color: #262161;
}

.text-banner2 {
    float: left;
    margin-top: 6rem;
    width: 100%;
    height: 100%;
    border-top: .2rem solid #e5e5e5;
    border-bottom: .2rem solid #e5e5e5;
   
}

.text-banner .text-box-1,
.text-banner .text-box-2,
.text-banner .text-box-3,
.text-banner .text-box-4 {
    float: left;
    width: 23.75%;
    height: 735px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;    
    text-align: center;
    background-color: #fff;
}

.text-banner .text-box-1 div,
.text-banner .text-box-2 div,
.text-banner .text-box-3 div,
.text-banner .text-box-4 div {    
    width: 100%;   
    height: 200px;
    text-align: center;
}

.text-banner .text-box-1-1 div,
.text-banner .text-box-2-2 div {    
    width: 100%;   
    height: 200px;
    text-align: center;
}

.text-banner .text-box-1 div img,
.text-banner .text-box-2 div img{         
    height: 100%;
    text-align: center;
}

.text-banner .text-box-3 div img,
.text-banner .text-box-4 div img{  
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.text-banner .text-box-1 h3, 
.text-banner .text-box-2 h3, 
.text-banner .text-box-3 h3, 
.text-banner .text-box-4 h3 {
    margin-top: 4.1rem;
    margin-bottom: 2rem;
    height: 60px;
    font-size: 2.7rem;
    font-weight: 600;
    color: #006491;
    letter-spacing: -.04rem;
    text-transform: uppercase;
}

.text-banner .text-box-1 p, 
.text-banner .text-box-2 p, 
.text-banner .text-box-3 p,
.text-banner .text-box-4 p {
    font-size: 2rem;    
    text-align: left;
    padding-left: 2.5rem;
    width: 100%;
    height: 320px;
    color: #555;
}


.text-banner a{
    display: inline-block;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    margin-left: 0rem;
    padding: 1.2rem 5rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #449b3c;
    border-radius: .4rem;
    width: 150px;
    letter-spacing: .06rem;
    text-transform: uppercase;
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Domino's banner                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.dominos-banner {
    padding-left: 5rem;
    margin-top: 6rem;
    width: 100%;
    height: 18rem;
    background: #fff url(../img/dominos-link.jpg) no-repeat right center;
    background-size: cover;
    overflow: hidden;
}

.banner-2 {
    position: relative;
    top: 0;
    left: 0;
    height: 18rem;
    text-align: left;
    cursor: default;
}

.dominos-banner h3 {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 .17857em rgba(0, 0, 0, .2);
    text-transform: uppercase;
}

.dominos-banner a {
    display: inline-block;
    margin-top: .8rem;
    margin-left: 0rem;
    padding: 1.2rem 2.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #e31837;
    border-radius: .4rem;
    letter-spacing: .06rem;
    text-transform: uppercase;
}

.dominos-banner a:hover {
    background-color: #aa1229;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Login modal                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#login-frame {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 36rem;
    padding: 0 2.5rem;
    background-color: #fff;
    border-radius: .6rem;
    cursor: default;
    overflow: hidden;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%, -53%);
       -moz-transform: translate(-50%, -53%);
            transform: translate(-50%, -53%);
}

#login-frame.isvisible {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#login-title {
    width: 100%;
    font-size: 100%;
    text-align: left;
    overflow: hidden;
}

#login-title h2 {
    margin-top: 3rem;
    font-size: 2.6rem;
    font-weight: 600;
    color: #0078ae;
    text-transform: uppercase;
}

#login-title p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #555;
    font-style: italic;
    letter-spacing: -.02rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form specs                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#login-form {
    margin-top: 3.9rem;
    width: 100%;
    height: auto;
    line-height: 0;
}

.field + .field {
    margin-top: 2rem;
}

label {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

label span {
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}

#email, #password, #password_confirm {
    margin-top: .6rem;
    width: 100%;
    height: 4.4rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    background: transparent;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    transition: none;
    -webkit-transition: border-color .2s ease-in-out !important;
       -moz-transition: border-color .2s ease-in-out !important;
            transition: border-color .2s ease-in-out !important;
}

#email:focus, #password:focus {
    border: .1rem solid #0078ae;
}

.input-error {
    display: block;
    text-align: right;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #dd4b39;
}

#signin-btn {
    margin-top: 3rem;
    width: 100%;
    height: 4.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #E31837;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

#signin-btn:hover {
    background-color: #449b3c;
    /*原来是#aa1229*/
}

.forgot {
    height: 7.3rem;
    text-align: center;
}

.forgot a {
    line-height: 7rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #0078ae;
    letter-spacing: -.02rem;
    text-transform: uppercase;
}

.forgot a:hover {
    text-decoration: underline;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Overlay                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#overlay {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   z-index: 5555;
   opacity: 0;
   visibility: hidden;
   background-color: rgba(25, 25, 25, .75);
   cursor: pointer
}

#overlay.isvisible {
   opacity: 1;
   visibility: visible;
}

#contact-frame, #login-frame, #overlay {
   transition: all .2s ease-in-out;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*改之前是 767px */
@media screen and (max-width: 1082px) {
    .container {
        width: 90%;
    }

    .registration .buttons ul li + li {
    }
    
    .banner{    
        text-align: center;
    }
    
    .hero_img{  
        display: inline-block;
        position: relative;
        right: 0;
        top: 0;
        text-align: center;
    }
    
    img.sensor{
        float: left;
        position: relative;
        top: 0;
        left: 0;
        width: 337px;
        height: 202px;
    }

    .banner_text{
        position: relative;
        top: 0;
        right: 0;
        margin-left: 0;      
    }
    
    .banner_text h2{
        text-align: center;
    }
    
    .banner_text p{
        padding: 0;
        margin: 0;
    }
    
    .main-banner img.certification {
        display: none;
    }

    .parameter{  
        display: none;
    }
    
    
    /* 四大天王 */
    
    .text-banner .text-box-1,
    .text-banner .text-box-2,
    .text-banner .text-box-3,
    .text-banner .text-box-4 {
        float: left;
        width: 98%;
        height: 735px;
        margin-left: 1%;
        margin-top: 1%;
        margin-bottom: 1%;    
        text-align: center;
        background-color: #fff;
    }

    .text-banner .text-box-1 div,
    .text-banner .text-box-2 div,
    .text-banner .text-box-3 div,
    .text-banner .text-box-4 div {    
        width: 100%;   
        height: 200px;
        text-align: center;
    }

    .text-banner .text-box-1 div img,
    .text-banner .text-box-2 div img{         
        height: 100%;
        text-align: center;
    }

    .text-banner .text-box-3 div img{
        margin-top: 2rem;
        width: 312px;
        height: 200px;
        text-align: center;
    }
    
    .text-banner .text-box-4 div img{  
        margin-top: 2rem;
        width: 50%;
        height: 100%;
        text-align: center;
    }      

    .text-banner .text-box-1 h3, 
    .text-banner .text-box-2 h3, 
    .text-banner .text-box-3 h3, 
    .text-banner .text-box-4 h3 {
        margin-top: 4.1rem;
        margin-bottom: 2rem;
        height: 60px;
        font-size: 2.7rem;
        font-weight: 600;
        color: #006491;
        letter-spacing: -.04rem;
        text-transform: uppercase;
    }

    .text-banner .text-box-1 p, 
    .text-banner .text-box-2 p, 
    .text-banner .text-box-3 p,
    .text-banner .text-box-4 p {
        font-size: 2rem;    
        text-align: left;
        padding-left: 2.5rem;
        width: 100%;
        height: 320px;
        color: #555;
    }


    .text-banner a{
        display: inline-block;
        margin-top: 2.3rem;
        margin-bottom: 2.3rem;
        margin-left: 0rem;
        padding: 1.2rem 5rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;
        background-color: #449b3c;
        border-radius: .4rem;
        width: 150px;
        letter-spacing: .06rem;
        text-transform: uppercase;
    }
  

}

@media screen and (min-width: 768px) {
    .container { width: 90%; }
}
