fieldset{        
  margin: 10px 0;
  border: 1px solid #000;        
}

legend{
  background-color: #3c88af;
  color: #fff;
  padding: 5px;
  border: 1px solid #000
}

label{
  width: 160px; /* Labels are styled to same length */
  display: block;
  float: left;        
}

input + label{
  float: none;
  display: inline;        
  line-height: 2em; /* Make labels' spacing larger */
}     

input[type="text"],
input[type="password"]{
  width: 200px; /* Text fields are styled to same length */        
  border: 1px solid #000; 
  padding-left: 5px;
  font-size: 1.2em;       
}         

input[type="text"],
input[type="password"],
fieldset,
legend{                
  box-shadow: 2px 3px 3px  rgba(0,0,0,0.6);               
  border-radius: 5px;       
} 

h1,
strong,
.title{
  color: #243f5f;
}