    h1{
        text-align: center;
        font-size: 3rem;
    }
    form{
        font-size: 3rem;
    }

    #message{
        display: block;
        text-align: center;
        font-size: 2rem;
    }
    
    legend{
        width:80px;
        font-size: 1.5rem;
    }
        
    form.password_reset_form input{
        margin-top: 1rem;   
    }
    
    form.password_reset_form label{
        margin-top: 10px;
        margin-left: 20px;
        font-size: 2rem;
    }
    
    form.password_reset_form p input#email{
        margin-top: 1rem;
        width: 200px;
        line-height: normal !important;
    }
    
    button#log_in_button{
        width: 150px;
        height: 30px;
        background-color: #3c88af;
        color: white;
        margin: 20px;
        font-size: 20px;
    }
    
    input#submit{
        display: inline-block;
        width: 150px;
        height: 30px;
        background-color: #3c88af;
        color: white;
        font-size: 20px;
    }

    div#passwordreset{
        text-align: center;
        font-size: 25px;
    }
