@import 'base.css';
@import 'components.css';

.product_style{
    /*height: 250px;
    width: 200px;*/
    float: left;
}

.product_width{
    height: 50%;
    width: 50%;
}

.product_block{
  padding: 1px;
  border: 2px solid #9cf;
  border-radius: 10px;
}

.product_block:hover{ 
  border: 2px solid #f33; /* Show proximity */
}  

.text{
    color: #006491;
    display: inline-block;
    margin-top: 3rem;
    margin-left: 1.5rem;
    font-size: 2rem;
}

.product_block a{
    display: inline-block;
    margin-top: 2.3rem;
    margin-left: 1.5rem;
    padding: 1.2rem 5rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #449b3c;
    border-radius: .4rem;
    width: 150px;
    letter-spacing: .06rem;
    text-transform: uppercase;   
    text-decoration:none;
}

.product_block a:hover {
    background-color: #aa1229;
}

#logo {
    float: left;
    width: 12rem;
    height: 7.6rem;
}

#logo img {
    margin-top: 1.8rem;
    margin-left: 0;
    position: relative;
    left: 0;
    width: 12rem;
}

