table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid #cfcfcf;
  padding: 6px 10px;
  text-align: left;
}

.back_to{
	text-decoration: none;
	color: #243f5f;
	font-family: Arial, sans-serif;
}

