@import 'base.css';
@import 'components.css';
@charset "UTF-8";


div.output_description div ul li,
strong{
    font-size: 20px;
}
strong,
h2{
    color: #243f5f;
}

h2 a{
    font-size: 20px;
    text-decoration: none
}


table {    
    border-collapse: collapse;
    width: 960px;
    text-align: center;
}
td, th {
  border: 1px solid #cfcfcf;
  padding: 6px 10px;
  text-align: left;
}

.back_to{
	text-decoration: none;
	color: #243f5f;
	font-family: Arial, sans-serif;
}

.some_buttons{    
    padding-left: 5px;
    background-color: #3c88af;
    color: #fff;
    height: 50px;
    width: 150px;
    font-size: 18px;
    display: inline-block;
    float: left;
}

.email_1{
    position: relative;
    top: -30px;
}

.show_product{
    height: 250px;
}